hr, select {
    border-color: darkgoldenrod;
    border-style: ridge;
    border-width: 3px;
    border-radius: 5px;
}

input {
    margin-top: 3px;
    border-radius: 8px;
    border-color: goldenrod;
    border-style: ridge;
    border-width: 3px;
    height: 35px;
    width: 200px;
    font-size: 16px;
    font-family: 'bahnschrift';
    text-align: center;
}

[type="submit"] {
    border: 3px ridge goldenrod;
    font-size: 20px;
    font-family: 'bahnschrift';
    border-radius: 8px;
    width: 200px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

video {
    background-color: rgb(42, 41, 42);
}