.treeNode {
    text-align: center;
    min-width: 100px;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.treeNode:hover {
    color: #534b27;
}

.rootNode {
    font-size: 20px;
    font-weight: bold;
    background-color: #a4701f;
    color: ghostwhite;
}

.leafNode {
    border: unset;
    background-color: ghostwhite;
}

.selectNode {
    background-color: #e9daad;
    border: double;
    font-weight: bold;
    color: #353232;
}

.treeDiv {
    padding: 1px 30px 10px 10px;
    width: fit-content;
}